@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Ruda&display=swap');

/* Variables */

$color-one:#81adc5;
$color-two:#020c1b;
$color-three:#503063;
$color-text:#ffffff;
$font-text:'Roboto Slab', serif;
$font-header:'Ruda', sans-serif;
$transition: all 1s;


/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

.body{
    text-align: center;
    font-size: 16px;
    line-height: 1.7;
}

.page-title{
font-family: $font-header;
font-size: 48px;
color: $color-two;
}

.container{
text-align: center;
background: $color-one;
}

#button-rock, #button-scissors, #button-paper{
display: inline-block;
min-width:160px;
border-radius: 10px;
margin: 24px auto 0 auto;
padding: 16px;
font-family: $font-text;
font-size: 20px;
background: $color-three;
background-position: 100% 0;
background-size: 300%;
text-decoration: none;
cursor: pointer;
border-width: 2px;
border-style: solid;
transition: $transition;
    }
    
    
#button-rock, #button-scissors, #button-paper,:hover{
background-position: 0 100%; 
color: #ffffff;
}