@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Ruda&display=swap');

/* Variables */

$color-one:#0984e3;
$color-two:#2d3436;
$color-three:#6c5ce7;
$color-text:#ffffff;
$font-text:'Roboto Slab', serif;
$font-header:'Ruda', sans-serif;
$transition: all 1s;


/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

.body{
    text-align: center;
    font-size: 16px;
    line-height: 1.7;
}

.page-title{
font-family: $font-header;
font-size: 48px;
color: $color-two;
text-align: center;
}

.container{
min-height: 300px;
text-align: center;
background: $color-one;
}

#button-rock, #button-scissors, #button-paper{
display: inline-block;
min-width: 200px;
color: #ffffff;
border-radius: 30px;
margin: 70px auto 0 auto;
padding: 40px 20px 40px 20px;
font-family: $font-text;
font-size: 30px;
background: $color-three;
background-position: 100% 0;
background-size: 300%;
text-decoration: none;
cursor: pointer;
border-width: 2px;
border-style: solid;
transition: $transition;
    }

#button-rock:hover{
  background-position: 0 100%; 
  color: #ffffff;
}


#button-scissors:hover{
  background-position: 0 100%; 
  color: #ffffff;
}

#button-paper:hover{
  background-position: 0 100%; 
  color: #ffffff;
}

#button-rock {
color: #ffffff;
background-image: linear-gradient(90deg, $color-one 50%, transparent 50%);
}

#button-scissors {
color: #ffffff;
background-image: linear-gradient(90deg, $color-one 50%, transparent 50%);
}

#button-paper{
color: #ffffff;
background-image: linear-gradient(90deg, $color-one 50%, transparent 50%);
}
